


<%= extend('./header/index') %>
    <div class="container">
        <div class="row">
            <div class="col dashView">
                <p class="dashTitle">Items Used</p>  
                <span class="dashEntry">35</span>
                <span class="dashEntryUnit">books</span>
            </div>
            <div class="col dashView">
                <p class="dashTitle">Total Downloads</p>
                <span class="dashEntry">335.34</span>
                <span class="dashEntryUnit">GB</span>
            </div>

        </div>
        <div class="row">
            <div class="col dashView">
                <p class="dashTitle">Recent Items</p>  
                <ul>
                    <li>CSCD 204: Introduction to hardware</li>
                    <li>CSCD 204: Introduction to hardware</li>
                    <li>CSCD 204: Introduction to hardware</li>
                </ul> 
                
            </div>
            <div class="col dashView">
                <p class="dashTitle">Favorite Category</p>
                <span class="dashContent">Computer Science</span>
                <span class="dashEntryUnit">books</span>
            </div>

        </div>
    </div>