<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resource Site</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./index.css">

</head>

<body>


    <div class="sidenav">

        <div class="container">
            <div class="row">
                <div class="col" id="userSpecifics">
                    <div><span class="userimageOption">&nbsp;</span></div>
                    <img id="userimage" class="img-fluid rounded-circle" src="./resources/4.jpg" alt="" width="140px" height="140px">
                    <p class="sidebar_name">Someone S. Something</p>
                    <p class="sidebar_portfolio">Chief designer</p>
                    <a class="updatePortfolio">Update Portfolio</a>
                </div>
                <div class="col sidenavitem">
                    <img src="./resources/search (2).svg" alt="" width="30px" height="30x">
                    <p>Search Records</p>
                </div><br>
                <div class="col sidenavitem">
                    <img src="./resources/password.svg" alt="" width="30px" height="30px">
                    <p>User Privacy</p>
                </div><br>
                <div class="col sidenavitem">
                    <img src="./resources/share.svg" alt="" width="30px" height="30px">
                    <p>Collaboration Tools</p>
                </div><br>
                <div class="col sidenavitem">
                    <img src="./resources/restore.svg" alt="" width="30px" height="30px">
                    <p>Remote Configuration</p>
                </div><br>

            </div>
        </div>

    </div>

    <div class="main">

        <div class="topnav">

            

            <div class="tabs_search">
                <span><a><img src="./resources/search.svg" width="20px" alt="Search"></a></span>
            </div>

            <div class="tabs_nav">
              <span><a href="#home">Blog</a></span>
              <span> <a href="#about">Questions</a></span>
              <span> <a href="#contact">Company</a></span>
              <span> <a href="#contact">Contact</a></span>
            </div>

            <span class="tabs">
                    <span><a><img src="./resources/cloud-lightning.svg" width="20px" height="20px" alt=""></a></span>
                    <span><a><img src="./resources/calendar.svg" width="20px" height="20px" alt=""></a></span>
                    <span><a><img src="./resources/box.svg" width="20px" height="20px" alt=""></a></span>
            </span>

        </div>

        <div class="main_content">
            <span>HEllo</span>
        </div>


    </div>

    <script src="./js/bootstrap.min.js"></script>
</body>

</html>